.storeInput{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    /* text-align: center; */
    font-size: 15px;
    margin-top: 8px;
}
.storeInput:first-child{
    margin-top: 20px;
}
.storeInput input{
    /* border: 0;
    padding: 0;
    margin: 0; */
    /* background: transparent;
    font: 13px sans-serif */
    width: 70%;
    /* padding: 5px 10px; */
    margin: 8px 0;
    box-sizing: border-box;


    /* appearance: none; */
    /* background-color: #ffffff; */
    /* border-color: #d2d6dc; */
    border-width: 1px;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    /* font-size: 1rem; */
    /* line-height: 1.5; */
}
.paperEdit{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.edit_btns{
    /* float: right; */
    /* width: 33%; */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
}

.paperEdit form{
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    border-style: groove;
    /* border-color: #398B93; */
    border-width: 1px;
    border-radius: 5px;
}
.paperEdit form :nth-child(6){
    margin-top: 20px;
}
.paperEdit form :nth-child(8){
    margin-bottom: 20px;
}

form .edit_btns a{
    background-color: #398B93;
    /* border: none; */
    color: white;
    padding: 13px 25px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    line-height: 5px;
    width: 100px;

}



input[type=submit]{
    background-color: #398B93;
    /* border: none; */
    /* margin: 4px 2px; */
    color: white;
    padding: 4px 14px;
    /* padding:0.35em 1.2em; */
    text-decoration: none;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    border-style: groove;
    border-color: white;
    border-width: 1px;
    border-radius:0.20em;
    transition: all 0.2s;
  }
  input[type=submit]:hover{
    color:#398B93;
    background-color:#FFFFFF;
    border-style: groove;
    border-color: #398B93;
    border-width: 1px;
  }


  .filter{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .filter .filterBtn{
      display: flex;
  }