.header {
  background-color:#398B93;
  color: white;
  font-size: 1.2em;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  

  tr:first-child:hover {
    background-color: white;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.onPrint {
    background-color: yellow;
    color: black;
  }
  tr.onPrint:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.donePrint {
    background-color: green;
    color: white;
  }
  tr.donePrint:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.onRewind {
    background-color: blue;
    color: white;
  }
  tr.onRewind:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.onPack {
    background-color: red;
    color: white;
  }
  tr.onPack:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  /* tr:nth-child(even):hover {
    background-color: #398B93;
    color: white;
  } */