.header {
  background-color:#398B93;
  color: white;
  font-size: 1.2em;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  

  tr:first-child:hover {
    background-color: white;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.onPrint {
    background-color: yellow;
    color: black;
  }
  tr.onPrint:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.donePrint {
    background-color: green;
    color: white;
  }
  tr.donePrint:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.onRewind {
    background-color: blue;
    color: white;
  }
  tr.onRewind:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  tr.onPack {
    background-color: red;
    color: white;
  }
  tr.onPack:hover{
    background-color:#398B93 ;
    color: white;
    cursor: pointer;
  }
  /* tr:nth-child(even):hover {
    background-color: #398B93;
    color: white;
  } */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
    display: none;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
  .paperInfo td:nth-of-type(1):before { content: "Kiekis"; }
  .paperInfo td:nth-of-type(2):before { content: "Nurašyta"; }
  .paperInfo td:nth-of-type(3):before { content: "Nurašė"; }

  .paper td:nth-of-type(1):before { content: "Plotis"; }
	.paper td:nth-of-type(2):before { content: "Ilgis"; }
	.paper td:nth-of-type(3):before { content: "Medžiaga"; }
	.paper td:nth-of-type(4):before { content: "Klijai"; }
	.paper td:nth-of-type(5):before { content: "Kiekis"; }
	.paper td:nth-of-type(6):before { content: "Keisti"; }
	.paper td:nth-of-type(7):before { content: "Info"; }
	.paper td:nth-of-type(8):before { content: "Ištrinti"; }

  .order td:nth-of-type(1):before { content: "Užsakovas"; }
	.order td:nth-of-type(2):before { content: "Pavadinimas"; }
	.order td:nth-of-type(3):before { content: "Kryptis"; }
	.order td:nth-of-type(4):before { content: "Ilgis"; }
	.order td:nth-of-type(5):before { content: "Plotis"; }
	.order td:nth-of-type(6):before { content: "Medžiaga"; }
	.order td:nth-of-type(7):before { content: "Klijai"; }
	.order td:nth-of-type(8):before { content: "Eilės"; }
  .order td:nth-of-type(9):before { content: "Spalvos"; }
  .order td:nth-of-type(10):before { content: "Kiekis"; }
	.order td:nth-of-type(11):before { content: "Velenas"; }
  .order td:nth-of-type(12):before { content: "Pagaminimo data"; }

  .machine td:nth-of-type(1):before { content: "Eil. nr."; }
	.machine td:nth-of-type(2):before { content: "Uzs. nr."; }
	.machine td:nth-of-type(3):before { content: "Uzsakovas"; }
	.machine td:nth-of-type(4):before { content: "Pavadinimas"; }
	.machine td:nth-of-type(5):before { content: "Ilgis"; }
  .machine td:nth-of-type(6):before { content: "Plotis"; }
	.machine td:nth-of-type(7):before { content: "Medžiaga"; }
	.machine td:nth-of-type(8):before { content: "Velenas"; }
	.machine td:nth-of-type(9):before { content: "Klijai"; }
	.machine td:nth-of-type(10):before { content: "Eilės"; }
  .machine td:nth-of-type(11):before { content: "Spalvos"; }
  .machine td:nth-of-type(12):before { content: "Pagaminimo data"; }
  .machine td:nth-of-type(13):before { content: "Kiekis"; }
  .machine td:nth-of-type(14):before { content: "Keisti"; }

  .orderinfo td:nth-of-type(1):before { content: "Uzpilde"; }
	.orderinfo td:nth-of-type(2):before { content: "Uzpildyta"; }
	.orderinfo td:nth-of-type(3):before { content: "Atspausdino"; }
	.orderinfo td:nth-of-type(4):before { content: "Atspausdinta"; }
	.orderinfo td:nth-of-type(5):before { content: "Suvyniojo"; }
  .orderinfo td:nth-of-type(6):before { content: "Suvyniota"; }
	.orderinfo td:nth-of-type(7):before { content: "Supakavo"; }
	.orderinfo td:nth-of-type(8):before { content: "Supakuota"; }

  .pack td:nth-of-type(1):before { content: "Užsakovas"; }
	.pack td:nth-of-type(2):before { content: "Pavadinimas"; }
	.pack td:nth-of-type(3):before { content: "Kryptis"; }
	.pack td:nth-of-type(4):before { content: "Ilgis"; }
	.pack td:nth-of-type(5):before { content: "Plotis"; }
	.pack td:nth-of-type(6):before { content: "Medžiaga"; }
	.pack td:nth-of-type(7):before { content: "Klijai"; }
	.pack td:nth-of-type(8):before { content: "Eilės"; }
  .pack td:nth-of-type(9):before { content: "Spalvos"; }
  .pack td:nth-of-type(10):before { content: "Pagaminimo data"; }
  .pack td:nth-of-type(11):before { content: "Pastabos"; }
	.pack td:nth-of-type(12):before { content: "Dezes"; }
  .pack td:nth-of-type(13):before { content: "Kiekis"; }
  .pack td:nth-of-type(14):before { content: "Supakuota"; }

  .packed td:nth-of-type(1):before { content: "Užsakovas"; }
	.packed td:nth-of-type(2):before { content: "Pavadinimas"; }
	.packed td:nth-of-type(3):before { content: "Kryptis"; }
	.packed td:nth-of-type(4):before { content: "Ilgis"; }
	.packed td:nth-of-type(5):before { content: "Plotis"; }
	.packed td:nth-of-type(6):before { content: "Medžiaga"; }
	.packed td:nth-of-type(7):before { content: "Klijai"; }
	.packed td:nth-of-type(8):before { content: "Eilės"; }
  .packed td:nth-of-type(9):before { content: "Spalvos"; }
  .packed td:nth-of-type(10):before { content: "Pagaminimo data"; }
  .packed td:nth-of-type(11):before { content: "Kiekis"; }
	.packed td:nth-of-type(12):before { content: "Dezes"; }
  .packed td:nth-of-type(13):before { content: "Išsųsti"; }

  .archive td:nth-of-type(1):before { content: "Užsakovas"; }
	.archive td:nth-of-type(2):before { content: "Pavadinimas"; }
	.archive td:nth-of-type(3):before { content: "Ilgis"; }
	.archive td:nth-of-type(4):before { content: "Plotis"; }
	.archive td:nth-of-type(5):before { content: "Medžiaga"; }
	.archive td:nth-of-type(6):before { content: "Klijai"; }
	.archive td:nth-of-type(7):before { content: "Eilės"; }
	.archive td:nth-of-type(8):before { content: "Spalvos"; }
  .archive td:nth-of-type(9):before { content: "Kiekis"; }
  .archive td:nth-of-type(10):before { content: "Velenas"; }
  .archive td:nth-of-type(11):before { content: "Pabaigimas"; }
	.archive td:nth-of-type(12):before { content: "Pastabos"; }
  .archive td:nth-of-type(13):before { content: "Info"; }
}